body {
  margin: 0;
  padding: 0;
  background: #407899;
  overflow: hidden;
}

#hint {
  color: white;
  background-color: rgba(10, 10, 10, 0.2);
  border-radius: 2rem;
  padding: 1rem 2rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  margin: 1rem auto auto auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
}

#hint #context:before {
  content: "PUSH `LMB`";
}

@media (max-width: 450px) {
  #hint {
    top: auto;
    bottom: 0;
    margin: auto auto 1rem auto;
  }

  #hint #context:before {
    content: "TOUCH";
  }
}

.none-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#settings,
#s-expand {
  color: white;
  background-color: rgba(10, 10, 10, 0.2);
  border-radius: 2rem;
  padding: 1rem 2rem;
  position: fixed;
  left: auto;
  right: 0;
  top: 0;
  bottom: auto;
  margin: 1rem 1rem auto auto;
  width: fit-content;
  height: fit-content;
}

#settings {
  display: none;
}

#settings input {
  width: 5rem;
  background-color: inherit;
  color: inherit;
  border: 3px solid white;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

#settings input[type="number"],
#settings input[type="button"]  {
  padding: 0.3rem 0 0.3rem 0.3rem;
  text-align: left;
}

#settings table label:hover,
#settings table input:hover {
  color: #de6449;
  border-color: #de6449;
}

#s-expand:hover,
#s-collapse:hover,
#hint:hover {
  color: #de6449;
  cursor: pointer;
}

#s-collapse {
  float: right;
  padding: 0 0 0 1rem;
}
